[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	signingkey = E5CD8F712B61D86D
	email = mail@henrygressmann.de
	name = Henry Gressmann
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[core]
	editor = code --wait
[tag]
	gpgSign = true
