prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm

//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN} # https://github.com/settings/tokens/896594350
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
